extends layout

include mixins/_storeForm

block content
  .inner
    //- pre= h.dump(store)
    //- h2 #{ title } below is shorter if only need variable and not interpolation
    h2= title
    +storeForm(store)
