//- .wrapper.hi
//- 	- const upDog = dog.toUpperCase();
//- 	p.hello Hello my dogs name is #{upDog}
//- 	span#yo Yo!!
//- 	img.dog(src="dog.jpg" alt=`dog ${dog.toUpperCase()}`)

//- h2 
//- 	| Hello
//- 	em How are you?

